/*.Square {
    font-family: sans-serif;
    text-align: center;
  }
  

  .Rectangle{
    font-family: sans-serif;
    text-align: center;
  }

  .Triangle{
    font-family: sans-serif;
    text-align: center;
  }
  */